/*
 * website: http://www.openwebdesign.org
 * author: boilers (http://www.openwebdesign.org/userinfo.phtml?user=boilers)
 * skin : http://www.openwebdesign.org/viewdesign.phtml?id=3695
 */

/************* GENERAL CSS ************/

body {
	margin: 0px;
	padding: 0px;
	text-align: justify;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #333333;
}

h1 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 1.8em;
	color: #ff9600;
}

h2 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 1.5em;
	color: #ff9600;
}

h3, h4, h5, h6 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 1.3em;
	color: #ff9600;
}

a {
	font-weight: bold
	text-decoration: none;
	color: #ffcf69;
}

a:hover {
	/*font-weight: bold;*/
	text-decoration:none;
  border-bottom:1px dashed #ffcf69;
  color: #FF9600;
}

/************* HEADER STUFF ************/

#header {
	width: 770px;
	height: 120px;
	margin: 0px auto;
	padding: 10px 0px;
	background: #FFFBFD url(images/header.png);
}

#header h1 {
	margin: 0px;
	padding: 0px 0px 0px 10px;
	text-align: left;
	color: #333333;
	font-size: 3em;
	text-transform: uppercase;
}

#header h2 {
	margin: 0px;
	padding: 0px 0px 0px 20px;
	text-align: left;
	font-size: 1.5em;
	text-transform: uppercase;
}

/************* MENU ************/

#menu {
	width: 770px;
	margin: 0px auto;
	padding: 5px 0px 5px 0px;
	background-color: #FF9600;
	border-left: 1px solid #FFAD00;
	border-right: 1px solid #FFAD00;
}

#menu td {
  text-align: left;
}

#menu .menu a:hover {
  background-color: #fff;
  color: #ffa953;
}

#menu td.active .menu a, #menu li.active a {
  background-color: #fff;
  color: #339953;
}

#menu li.in_path a, #menu td.in_path .menu a {
  color: #ffa953;
  background-color: #fff;
}

#menu ul li {
  list-style-image:none;
  list-style-position:outside;
  list-style-type:none;
  border-bottom: 1px solid #E57D2E;
}

#menu ul li:last-child, #menu ul li.last {
  border-bottom: none;
}


#menu a {
	padding: 5px 15px;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	border:1px dashed #FF9600;
}

#menu a:hover {
	background-color: #fff;
	border:1px dashed #ffcf69;
}

/* Sub menu */
#menu .submenu {
  text-align: left;
  border: 1px solid #E57D2E;
  visibility: hidden;
  margin-top: 6px;
  position:absolute;
  background-color: #e58b0b;
  width: 130px;
}

#menu .submenu ul {
  padding-left: 0px;
  margin-bottom:0px;
  margin-top:0px;
}

#menu .submenu a {
  white-space: normal;
  color: #fff;
  border: none;
  padding: 1px;
  display: block;
}

#menu .submenu a:hover {
  background-color: #ffa953;
}

#menu .submenu ul li.active a {
  background-color: #ffa953;
}


/************* CONTENT ************/

#content {
	width: 760px;
	margin: 0px auto;
	padding: 20px 5px;
	border: 1px solid #FFAD00;
}

#content h2, #content h3, #content h4, #content h5, #content h6 {
	font-weight: normal;
}

#content p, #content ul, #content ol {
	line-height: 150%;
}

#left {
	width: 480px;
	padding: 0px 20px 40px 20px;
}

#right {
	width: 210px;
	padding: 0px 20px 40px 20px;
	color: #000000;
}

/************* FOOTER ************/

#footer {
	clear: both;
	width: 760px;
	margin: 0px auto;
  border: none;
	font-size: 9px;
	text-align: center;
	padding: 2px;
	color: #333333;
}

/************ CATEGORY ***********/
#category_dressable #cd_image {
  text-align: center;
}

#category_dressable #cd_content {
  text-align: left;
}

/********** BREADCRUMBS **********/
#breadcrumbs a, #breadcrumbs span {
  color: #FFA953;
}
i
