.tracker_issue_comment_title {
  background-color: #ddddff;
  font-weight: bold;
}

.tracker_search_input {
  width: 97%;
  font-size: 1.1em;
}

.tracker_select {
  width: 97%;
}

.com {
  font-family: "Arial", "DejaVu Sans", sans-serif;
}
