#forum_thread_list th {
  text-align: left;
}

.odd {
  background-color: #ededed;
}

.forum_message_info {
  color: #fff;
}

.even .forum_message_info {
  background-color: #c17d11;
}

.odd .forum_message_info {
  background-color: #729fcf;
}

.forum_message_author {
  font-weight: bold;
}
