body {
  margin: 0px;
  padding: 0px;
  font: 85% Arial, "Bitstream Vera Sans", sans-serif;
  color: #000;
  background: #fff;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0.2em;
  font-family: "Arial", "Bitstream Vera sans", sans-serif;
}
h1 {
  font-size: 15pt;
}
h2 {
  font-size: 13pt;
}
h3 {
  font-size: 11pt;
}
h4 {
  font-size: 9pt;
}
h5 {
  font-size: 8pt;
}
h6 {
  font-size: 7pt;
}

p {
  font: 10pt "Bitstream Vera Sans", Arial, sans-serif;
}

select, input, textarea, button {
  color: #000;
  background: #fff;
}
input {
  background-position: left center;
  background-repeat: no-repeat;
}

a {
  color: #3465a4;
}
a img {
  border: 0;
}

#header {
  margin-bottom: 6px;
  padding: 21px 6px 0 0;
  background: #729fcf url(images/logo.png) left bottom no-repeat;
  font-size: 80%;
}

#site_search_form {
  float: right;
  margin: 0;
  padding: 0;
}
#site_search_form input,
#site_search_form select {
  font-size: 80%;
}
#site_search_form a {
  padding: 1px;
}

#action_login { background-image: url(images/action_login.png); }
#action_join { background-image: url(images/action_join.png); }
#action_home { background-image: url(images/action_home.png); }
#action_logout { background-image: url(images/action_logout.png); }

#breadcrumbs {
  font-size: 9pt;
}
#breadcrumbs ul {
  display: inline;
  margin: 0;
  padding: 0;
}
#breadcrumbs li {
  display: inline;
}
#breadcrumbs a,
#breadcrumbs span {
  color: #888a85;
}

#tabs,
#subtabs {
  margin: 0;
  padding: 0;
}

#tabs span,
#subtabs span {
  display: inline-block;
  margin: 0;
  padding: 0;
}

#tabs a,
#subtabs a {
  display: inline-block;
  margin: 0;
  border-right: 1px solid #babdb6;
  padding: 6px;
  font-size: 80%;
  text-decoration: none;
  white-space: nowrap;
}

#tabs > span,
#subtabs > span {
  display: -moz-inline-box;
}

#tabs span > a,
#subtabs span > a {
  display: block;
}

#tabs span span,
#subtabs span span {
  display: none;
}

#tabs {
  border-width: 1px;
  border-style: solid solid none solid;
  border-color: #babdb6;
}

#tabs a {
  color: #2e3436;
}

#tabs .tab_active a,
#tabs .tab a:hover {
  color: #eeeeec;
  background: #3465a4 url(images/tab_bg.png) left top repeat-x;
}

#tabs .tab_active a {
  color: #eeeeec;
}

#subtabs {
  border-width: 0 1px 1px;
  border-style: solid;
  border-color: #babdb6;
  background: #3465a4;
}

#subtabs a {
  color: #eeeeec;
}

#subtabs .tab_active a,
#subtabs .tab a:hover {
  background: #f57900 url(images/subtab_bg.png) left top repeat-x;
}

#tabs .tab_dummy a,
#subtabs .tab_dummy a {
  border-style: none;
}

#message {
  margin: 3px;
  padding: 5px 20px;
  border: 2px solid #000;
  background: #fcaf3e url(../images/message.png) left center no-repeat;
}

#body {
  padding: 3px;
  overflow: auto;
}

* html #block_1 {
  overflow: auto;
}

#block_2 {
  font-size: 90%;
}
#block_2 a,
#block_2 a:link,
#block_2 a:visited,
#block_2 a:hover,
#block_2 a:active {
  text-decoration: none;
  color: #3465a4;
}
#block_2 label {
  margin: 3px;
  padding: 3px 6px;
  color: #fff;
  background: #729fcf;
}
#block_2 ul,
#block_2 dl {
  margin: 3px 6px 10px 3px;
  border: 1px solid #729fcf;
}
#block_2 ul {
  padding: 0;
  list-style: none;
}
#block_2 li {
  margin: 3px;
  padding: 0;
  font-weight: bold;
  line-height: 16px;
  background-repeat: no-repeat;
  background-position: top left;
}
#block_2 li a {
  padding-left: 20px;
}
#block_2 dl {
  padding: 3px;
}
#block_2 dl dl {
  margin: 0;
  border: 0;
}
#block_2 dt, #block_2 dd {
  margin: 0;
}
#block_2 dt {
  overflow: hidden;
  font-size: normal;
}
#block_2 dd {
  margin-left: 9px;
}

#footer {
  margin-top: 3px;
  padding: 3px;
  font-size: 90%;
}

#powered {
  float: right;
}
#powered img {
  clear: both;
  vertical-align: bottom;
}

.clear {
  clear: both;
}
/* http://www.positioniseverything.net/easyclearing.html */
.clearfix:after {
  content: "."; 
  display: block; 
  height: 0; 
  clear: both; 
  visibility: hidden;
}
.clearfix {display: inline-table;}
/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */

form dt {
  color: #333;
}
form dd {
  margin: 3px;
  padding: 0;
}

dl.thumb
{
  float: left;
  width: 110px;
  height: 110px;
  margin: 0 1em 1em 0;
  text-align: center;
}
dl.thumb dt {
  font-weight: bold;
  height: 48px;
}
dl.thumb dd {
  margin: 0;
  padding: 0;
}

dl.new_resource_thumb {
  width: 250px;
}

.button_ok { padding-left: 16px; background-image: url(../images/button_ok.png); }
.button_cancel { padding-left: 16px; background-image: url(../images/button_cancel.png); }
.button_search { padding-left: 16px; background-image: url(../images/button_search.png); }
.button_upload { padding-left: 16px; background-image: url(../images/button_upload.png); }
.button_external { padding-left: 16px; background-image: url(../images/button_external.png); }
.button_rename { padding-left: 16px; background-image: url(../images/button_rename.png); }
.button_delete { padding-left: 16px; background-image: url(../images/button_delete.png); }
.button_copy { padding-left: 16px; background-image: url(../images/button_copy.png); }
.button_cut { padding-left: 16px; background-image: url(../images/button_cut.png); }
.button_paste { padding-left: 16px; background-image: url(../images/button_paste.png); }
.button_translate { padding-left: 16px; background-image: url(../images/button_translate.png); }
.button_compare { padding-left: 16px; background-image: url(../images/button_compare.png); }

.results li {
  margin: 3px 3px 6px;
}
.result_control {
  background: #deeff1;
}
.result_url,
.result_type,
.result_size {
  font-size: 80%;
}
.result_url {
  color: #008000;
}

.number {
  text-align: right;
}

#gallery_vpane {
  float: left;
  width: 320px;
  height: 460px;
  overflow: auto;
}

#gallery_vpane img {
  margin: 5px 3px;
  border: 1px solid;
  border-color: #aaa #444 #444 #aaa;
  padding: 5px;
  background: #fff;
}

#gallery_main {
  padding: 20px;
}

#gallery_center {
  margin: auto;
  text-align: center;
}

#gallery_previous {
  margin-right: 150px;
}

#gallery_next {
  margin-left: 150px;
}

#gallery_properties {
  margin: auto;
  text-align: center;
}

#gallery_properties th {
  text-align: right;
}

#gallery_properties td {
  text-align: left;
}

#gallery_description {
  padding-left: 10px;
  text-align: left;
  overflow: auto;
}

/* ICALENDAR */
#ical_monthly_view #selector, #ical_weekly_view #selector {
  margin: 5px 0px 5px 0px;
  font-size:18px;
}
#ical_monthly_view #selector ul , #ical_weekly_view #selector ul {
  list-style:none;
  display:inline;
}
#ical_monthly_view #selector li , #ical_weekly_view #selector li {
  display: inline; 
  padding: 26px;
}
#ical_monthly_view #selector li a , #ical_weekly_view #selector li a {
  text-decoration:none;
  color: #cc0000;
}

#ical_monthly_view table , #ical_weekly_view table {
  border-spacing: 1px;
}
#ical_monthly_view td , #ical_weekly_view td {
  background: #e9b96e;
}

#ical_monthly_view th , #ical_weekly_view th {
  background: #cc0000;
  color: #fce94f;
  font-weight: bold;
}

#ical_monthly_view .month {
  font-weight: bold;
  color: #cc0000;
}

#ical_monthly_view .day , #ical_weekly_view .day {
  padding: 2px 5px 2px 5px;
  height: 70px;
} 

#ical_monthly_view .bold {
  font-weight: bold;
}

#ical_monthly_view .add_event , #ical_weekly_view .add_event {
  color: #ce5c00;
  text-decoration:none; 
  font-size:11px; 
  vertical-align: top;
}

#ical_monthly_view .event dd , #ical_weekly_view .event dd {
  font: 10pt "Bitstream Vera Sans";
  margin-left: 5px;
}

#ical_monthly_view .event .CONFIRMED , #ical_weekly_view .event .CONFIRMED {
  color: #4a0000;
}
#ical_monthly_view .event .TENTATIVE , #ical_weekly_view .event .TENTATIVE {
  color: #cc0000;
}
#ical_monthly_view .event .CANCELLED , #ical_weekly_view .event .CANCELLED {
  color: #8f5902;
}

