body {
  color: #000;
  background: #fff;
  /* 1em = 10px */
  font-size: 62.5%;
  font-family: "Arial", "DejaVu Sans", sans-serif;
}

h1 { font-size: 1.8em; }
h2 { font-size: 1.6em; }
h3 { font-size: 1.4em; }
h4 { font-size: 1.2em; }
h5 { font-size: 1.1em; }
h6 { font-size: 1em; }

select, input, textarea, button {
  color: #000;
  background: #fff;
}

input {
  background-position: left center;
  background-repeat: no-repeat;
}

a { color: #3465a4; }
a img { border: 0; }

td, th { padding: 3px; }

#header {
  margin-bottom: 1em;
  padding: 10px 1em;
  color: #fff;
  background: #729fcf url(images/logo.png) left bottom no-repeat;
  font-size: 1.1em;
  text-align: right;
}

#header a {
  background-position: left center;
  background-repeat: no-repeat;
  color: white;
  font-size: 1.1em;
  font-weight: bold;
  margin: 0px 0px 0px 10px;
  padding: 4px 0px 4px 20px;
  text-decoration: none;
}

#header a img {
  vertical-align: middle;
}

#header a:hover {
  text-decoration: underline;
}

#header a#top_menu_login {
  background-image: url(images/action_login.png);
}

#header a#top_menu_register {
  background-image: url(images/action_join.png);
}

#header a#top_menu_home {
  background-image: url(images/action_home.png);
}

#header a#top_menu_logout {
  background-image: url(images/action_logout.png);
}

#header a#top_menu_search {
  background-image: url(../images/button_search.png);
}

#header a#top_menu_contact {
  background-image: url(images/action_contact.png);
}

#site_search_form { float: right; }
#site_search_form input { font-size: 1em; }

#action_login { background-image: url(images/action_login.png); }
#action_join { background-image: url(images/action_join.png); }
#action_home { background-image: url(images/action_home.png); }
#action_logout { background-image: url(images/action_logout.png); }

#breadcrumbs { margin-bottom: .5em; }
#breadcrumbs a, #breadcrumbs span { color: #888a85; }

/**************************************************************************
 * Tabs
 * ***********************************************************************/

#tabs {
  border-bottom: 1px solid #babdb6;
  border-top: 1px solid #babdb6;
  padding: 0px 1em 0px 1em;
}

#tabs a {
  text-decoration: none;
  white-space: nowrap;
}

#tabs ul li {
  list-style: none;
}

#tabs td {
  padding: 4px 0px 4px 0px;
}

#tabs .menu a {
  padding: 4px 1em 4px 1em;
}

#tabs .menu a span {
  background-position: left center;
  background-repeat: no-repeat;
  padding: 4px 0em 4px 19px;
}

#tabs .menu a:hover,
#tabs td.active .menu a {
  background-color: #3465a4;
  color: #ffffff;
}

#tabs .submenu {
  background-color: #ffffff;
  border: 1px solid #babdb6;
  margin: 4px 0px 0px 0px;
  position: absolute;
  visibility: hidden;
}

#tabs .submenu a {
  background-color: #ffffff;
  display: block;
  padding: 2px 6px 2px 28px;
  width: 130px;
}

#tabs .submenu a:hover {
  background-color: #3465a4;
  color: #ffffff;
}

#tabs a#tab_contents span { background-image: url(../images/Folder16.png); }
#tabs a#tab_add span { background-image: url(../images/new16.png); }
#tabs a#tab_metadata span { background-image: url(../images/metadata16.png); }
#tabs a#tab_members span { background-image: url(../images/UserFolder16.png); }
#tabs a#tab_about span { background-image: url(../images/about16.png); }
#tabs a#tab_profile span { background-image: url(images/action_home.png); }
#tabs a#tab_preferences span { background-image: url(../images/Settings16.png); }
#tabs a#tab_settings span { background-image: url(../images/Settings16.png); }
#tabs a#tab_tasks span { background-image: url(../images/tasks16.png); }
#tabs a#tab_maintenance span { background-image: url(../images/clear16.png); }
#tabs a#tab_view span { background-image: url(../images/view16.png); }
#tabs a#tab_edit span { background-image: url(../images/edit16.png); }
#tabs a#tab_state span { background-image: url(../images/state16.png); }
#tabs a#tab_history span { background-image: url(../images/history16.png); }
#tabs a#tab_last_changes span { background-image: url(../images/icalendar16.png); }
#tabs a#tab_to_pdf span { background-image: url(../images/Pdf16.png); }
#tabs a#tab_help span { background-image: url(../images/help16.png); }


/**************************************************************************
 * 
 * ***********************************************************************/
#message {
  margin: 0.3em;
  padding: 0.3em 0 0.3em 24px;
  border: 2px solid #000;
  background: #fcaf3e url(../images/message.png) left center no-repeat;
}

#body {
  padding: 0.3em;
  font-size: 1.4em;
}
#body h1, #body h2, #body h3, #body h4, #body h5, #body h6 { border-bottom: 1px solid #d3d7cf; }
#body h1 { margin: 0.5em; }
#body h2 { margin: 0.4em; }
#body h3 { margin: 0.3em; }
#body h4 { margin: 0.2em; }
#body h5 { margin: 0.1em; }
#body h6 { margin: 0.1em; }
#body p { margin: .5em; }
#body li { margin: .5em .5em .5em 1.5em; }
#body ol li { list-style-type: decimal; }
#body ul li { list-style-type: square; }

#body form fieldset {
  border-bottom: 1px solid #d3d7cf;
  padding: 0.5em 0.5em 0.5em 0.5em;
}
#body form legend {
  margin: 0 0 0.5em 1em;
  font-size: 0.9em;
}
#body form dl { padding-bottom: 0.5em; }
#body form dt {
  clear: both;
  float: left;
  width: 8em;
  padding-right: 0.5em;
  text-align: right;
}
#body form dd { padding-bottom: 0.5em; }
#body form p { clear: both; }
#body form .form_mandatory {
  color: red;
  font-weight: bold;
}

#body .field_required {
  font-style: italic;
}

#body form .missing {
  color: #ff0000;
}

#left {
  font-size: 1.1em;
}
#left a, #left a:link, #left a:visited, #left a:hover, #left a:active {
  text-decoration: none;
  color: #3465a4;
}
#left label {
  display: block;
  margin: 0.3em;
  padding: 0.3em 0.6em;
  color: #fff;
  background: #c17d11;
}
#left ul,
#left dl {
  margin: 0.3em 0.6em 1em 0.3em;
}
#left ul {
  list-style: none;
}
#left li {
  margin: 0.3em;
  padding: 0;
  background-repeat: no-repeat;
  background-position: top left;
  line-height: 1.6em;
  list-style: none;
}
#left li a {
  padding-left: 2em;
}
#left dl {
  padding: 0.3em;
}
#left dl dl {
  margin: 0;
  border: 0;
  padding: 0;
}
#left dt {
  overflow: hidden;
  line-height: 1.6em;
  border-bottom: 1px solid #d3d7cf;
}
#left dd {
  margin-left: 0.9em;
}

#footer {
  text-align: center;
  border-top: 1px solid #729fcf;
  font-size: 1.0em;
  margin: 3.5em auto 0 auto;
  padding: 0.3em;
  width: 500px;
}

#footer a {
  margin-left: 2em;
  margin-right: 2em;
  text-decoration: none;
}

#footer a:hover {
  text-decoration: underline;
}

.clear {
  clear: both;
}

dl.thumb
{
  float: left;
  width: 10em;
  height: 10em;
  margin: 0 0.5em 1em 0;
  text-align: center;
}
dl.thumb dt { font-weight: bold; }

dl.new_resource_thumb { width: 20em; }

.button_ok { padding-left: 16px; background-image: url(../images/button_ok.png); }
.button_cancel { padding-left: 16px; background-image: url(../images/button_cancel.png); }
.button_search { padding-left: 16px; background-image: url(../images/button_search.png); }
.button_upload { padding-left: 16px; background-image: url(../images/button_upload.png); }
.button_external { padding-left: 16px; background-image: url(../images/button_external.png); }
.button_rename { padding-left: 16px; background-image: url(../images/button_rename.png); }
.button_delete { padding-left: 16px; background-image: url(../images/button_delete.png); }
.button_copy { padding-left: 16px; background-image: url(../images/button_copy.png); }
.button_cut { padding-left: 16px; background-image: url(../images/button_cut.png); }
.button_paste { padding-left: 16px; background-image: url(../images/button_paste.png); }
.button_translate { padding-left: 16px; background-image: url(../images/button_translate.png); }
.button_compare { padding-left: 16px; background-image: url(../images/button_compare.png); }
.button_add { padding-left: 16px; background-image: url(../images/button_add.png); }

.results li { margin: 0.3em 0.3em 0.6em; }
.result_control { background: #deeff1; }
.result_url, .result_type, .result_size { font-size: 0.9em; }
.result_url { color: #008000; }

.number { text-align: right; }

#gallery_vpane {
  float: left;
  width: 320px;
  height: 460px;
  overflow: auto;
}

#gallery_vpane img {
  margin: 5px 3px;
  border: 1px solid;
  border-color: #aaa #444 #444 #aaa;
  padding: 5px;
  background: #fff;
}

#gallery_main {
  padding: 20px;
}

#gallery_center {
  margin: auto;
  text-align: center;
}

#gallery_previous { margin-right: 150px; }
#gallery_next { margin-left: 150px; }

#gallery_properties {
  margin: auto;
  text-align: center;
}

#gallery_properties th { text-align: right; }
#gallery_properties td { text-align: left; }

#gallery_description {
  padding-left: 10px;
  text-align: left;
  overflow: auto;
}

/* Left navigation menu */
.nav_active {
  font-weight: bold;
}

/* Browse list */
thead td, thead th {
  padding: 6px;
  background: #d3d7cf;
}

tr.odd th, tr.odd td {
  background: #eeeeec;
}

th a.sort_up {
  background: transparent url(images/order-up.png) right top no-repeat;
  padding-right: 20px;
  text-decoration: none;
}

th a.sort_down {
  background: transparent url(images/order-down.png) right top no-repeat;
  padding-right: 20px;
  text-decoration: none;
}

th a.sort_none {
  background: transparent url(images/order-none.png) right top no-repeat;
  padding-right: 20px;
  text-decoration: none;
}

/* Contact Form */
ul#contact_to {
  float: left;
  margin: 0;
}

ul#contact_to li {
  margin: 0;
  list-style-type: none;
}


/* Calendar */
