David Versmisse <versmisse@lil.univ-littoral.fr> <david.versmisse@itaapy.com>

Gautier Hayoun <gautier.hayoun@supinfo.com> <gautier.hayoun@itaapy.com>

Henry Obein <henry.obein@gmail.com> Henry Obein <jdavid@itaapy.com>
Henry Obein <henry.obein@gmail.com> <kiwamu@kisai-laptop.(none)>
Henry Obein <henry.obein@gmail.com> <henry@itaapy.com>
Hervé Cauwelier <herve@oursours.net> <herve@itaapy.com>
Hervé Cauwelier <herve@oursours.net> <herver@itaapy.com>

J. David Ibáñez <jdavid.ibp@gmail.com> <jdavid@itaapy.com>

Nicolas Deram <nderam@gmail.com> <nderam@musashi.localdomain>
Nicolas Deram <nderam@gmail.com> <nderam@itaapy.com>
Nicolas Deram <nderam@gmail.com> <nicolas@itaapy.com>

Sylvain Taverne <sylvain@agicia.com> <taverne.sylvain@gmail.com>
Sylvain Taverne <sylvain@agicia.com> <sylvain@itaapy.com>
Sylvain Taverne <sylvain@agicia.com>
