include *.txt
include Changelog
include resources/tests/index.html.en
include GPL-2
include tmx/localizermsgs.tmx
include xliff/gettext_en_es.xlf
recursive-include xml *.xml
recursive-include i18n *.txt
recursive-include catalog/tests *.txt
recursive-include rss *.html *.rss *.xml
recursive-include workflow *.txt
recursive-include cms/ui *.x*ml.??
recursive-include cms/ui *.xml
recursive-include cms/ui *.css
recursive-include cms/ui *.js
recursive-include cms/ui *.png
recursive-include cms/ui *.gif
recursive-include cms/ui *.jpg
recursive-include cms/locale *.mo
recursive-include cms/locale *.po
recursive-include cms/locale *.pot
prune cms/ui/.arch-ids
