/**************************************************************************
  Forms, from plone.org
 **************************************************************************/
form {
    border: none;
}

textarea {
    /* Small cosmetic hack which makes textarea gadgets look nicer.*/
    font: bold 10px Verdana, Helvetica, Arial, sans-serif;
    border: 1px solid rgb(102, 102, 51);
    width: 100%;
    color: black;
    background-color: white;
}

input {
    font: bold 10px Verdana, Helvetica, Arial, sans-serif;
    border: 1px solid rgb(102, 102, 51);
    color: black;
    background-color: white;
    vertical-align: middle;
    margin-bottom: 1px; /* IE bug fix */
}

select {
    font: bold 10px Verdana, Helvetica, Arial, sans-serif;
    border: 1px solid rgb(102, 102, 51);
    vertical-align: middle;
}

optgroup {
    font: bold 10px Verdana, Helvetica, Arial, sans-serif;
}


input.invalid {
    border: 1px solid rgb(255, 0, 0);
}


/**************************************************************************
 Tabs and alert
 **************************************************************************/
table.tabs td {
  border-bottom: 1px solid black;
}

table.tabs td.tab {
  border: 1px solid black;
  background: #ddddbb;
  padding: 0px 2px 0px 4px;
  white-space: nowrap;
  text-align: center;
  width: 50px;
}

table.tabs td.tab_active { 
  border: 1px solid black;
  background: #ddddbb;
  padding: 0px 2px 0px 4px;
  white-space: nowrap;
  text-align: center;
  width: 50px;

  border-bottom: none;
  background-color: yellow;
}

table.tabs td.tab_active a { 
    color: black;
}

table.tabs td.incomplete a {
  color: red;
}

td.subtabs {
    background-color: yellow;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    padding: 2px 5px 2px 5px;
}

.alert {
    margin: 0 0 10px 0;
    border: 1px solid red;
    color: red;
}

/**************************************************************************
 XXX
 **************************************************************************/
p {
    font-size: 11px;
/*    font-family: verdana, arial, helvetica, sans-serif;*/
    color: #330;
    line-height: 15px;
}


h1 {
    font-size : 20px;
    font-family: verdana, arial, helvetica, sans-serif;
    font-weight: normal;
}

h2 {
    font-size: 18px;
    font-family: verdana, arial, helvetica, sans-serif;
    font-weight: normal;
}

h3 {
    font-size: 14px;
    font-family: verdana, arial, helvetica, sans-serif;
    font-weight: bold;
}

td, th {
    font-size : 11px;
}

body {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    color: black;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size : 11px;
    background: url("images/background.png") #676C42 fixed repeat-y;
}


/* Links */
a.out:before { content: "<" }
a.out:after { content: ">" }

a {
    color: #BB5522;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    color: black;
}

/*select.language {
    font-size: 10px;
    font-weight: normal;
}*/


#body {
  padding: 10px 10px 0px 30px;
}

#breadcrumb {
    border-bottom: 3px solid black;
    padding: 3px 0px 0px 10px;
    background: #FFFFFF;
    background: #ddddbb;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
}

#breadcrumb a {
    text-decoration: none;
}

#breadcrumb a:hover {
    text-decoration:none;
    color: #000;
}


#menu {
    padding: 10px 10px 10px 0px;
    width: 130px;
    color: white;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 11px;
    line-height: 16px
}

#menu p {
    color: white;
}

#menu a {
    color: #EE8855;
    font-size: 11px;
    text-decoration: none;
}

#menu a:hover {
    color: black;
    font-size: 11px;
}

.batchcontrol {
   padding: 2px;
   margin-bottom: 10px;
   color: #666633;
   font: bold 10px verdana, arial, helvetica, sans-serif;
}

#content {
  background: white;
  padding: 15px 15px 15px 15px;
  border: 1px solid black;
  border-top: 0px solid black;
  height: 390px;
}

#copyright {
    color: #cc9;
}

#copyright a {
    text-decoration: none;
    color: #CC9;
}


/**************************************************************************
 Metadata
 **************************************************************************/
#metadata {
    background: white;
    padding: 0px 0px 0px 0px;
    padding: 0px 10px 10px 10px;
    border: 1px solid black;
}