body {
  margin: 0px 0px 0px 0px;
  background: url("background.png") #FFFFFF fixed repeat-y;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 14px;
}

td {
  margin: 0px 0px 0px 0px;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 14px;
}

a {
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.logo {
  cell-padding: 0px;
}

.resources {
  font-size: 12px;
}

td.text {
  padding: 5px 9px 10px 16px;
  vertical-align: top;
}