
#cal_monthly_view #selector, #cal_weekly_view #selector {
  margin: 5px 0px 5px 0px;
  font-size:18px;
}
#cal_monthly_view #selector ul , #cal_weekly_view #selector ul {
  list-style:none;
  display:inline;
}
#cal_monthly_view #selector li , #cal_weekly_view #selector li {
  display: inline; 
  padding: 26px;
}
#cal_monthly_view #selector li a , #cal_weekly_view #selector li a {
  text-decoration:none;
  color: #cc0000;
}

#cal_monthly_view .cal_today, #cal_weekly_view .cal_today {
  margin-left: 2px;
  color: #3465a4;
  font-size: 12px;
  font-style: italic;
}

#cal_monthly_view table , #cal_weekly_view table {
  border-spacing: 1px;
}
#cal_monthly_view td , #cal_weekly_view td {
  background: #e9b96e;
}

#cal_monthly_view th , #cal_weekly_view th {
  background: #cc0000;
  color: #fce94f;
  font-weight: bold;
}

#cal_monthly_view .month {
  font-weight: bold;
  color: #cc0000;
}

#cal_monthly_view .day , #cal_weekly_view .day {
  padding: 2px 5px 2px 5px;
  height: 70px;
} 

#cal_monthly_view .bold {
  font-weight: bold;
}

#cal_monthly_view .cal_day_selected,
#cal_weekly_view .cal_day_selected {
  color: #cc0000;
  background: #fce94f;
}

#cal_monthly_view .cal_day_selected {
  padding: 1px;
  font-weight: bold;
}

#cal_monthly_view .add_event , #cal_weekly_view .add_event {
  color: #ce5c00;
  text-decoration:none; 
  font-size:11px; 
  vertical-align: top;
}
#cal_monthly_view .add_event img,
#cal_weekly_view .add_event img {
  vertical-align: bottom;
}

#cal_monthly_view .event dd , #cal_weekly_view .event dd {
  font-size: 1em;
  margin-left: 5px;
}

#cal_monthly_view .event .CONFIRMED , #cal_weekly_view .event .CONFIRMED {
  color: #4a0000;
}
#cal_monthly_view .event .TENTATIVE , #cal_weekly_view .event .TENTATIVE {
  color: #cc0000;
}
#cal_monthly_view .event .CANCELLED , #cal_weekly_view .event .CANCELLED {
  color: #8f5902;
}

#cal_monthly_view .event .time , #cal_weekly_view .event .time {
  font-size: 0.7em;
}

#cal_monthly_view .event span, #cal_weekly_view .event span {
  margin: 0;
}

.cal_busy {
  background: #729fcf;
}

.cal_conflict {
  background: #ef2929;
}

#browse_calendar #attributes {
  margin: 5px 0 8px 0;
}

#browse_calendar #attributes span {
  margin: 0 8px 0 0;
}

#browse_calendar .evt_value, 
#browse_calendar .add_event {
  font-size: 12px;
  text-decoration: none;
  color: #003180;
}

#browse_calendar table {
  border-collapse: collapse;
}
#browse_calendar td {
  border: 1px solid black;
}

#browse_calendar .header_columns {
  font-size: 9px;
  font-weight: bold;
}

#browse_calendar #header_columns {
  border-top: 1.5px solid black;
}

#browse_calendar #header_columns td {
  padding: 6px;
}

#browse_calendar #header_timetables,
#browse_calendar #header_timetables table, 
#browse_calendar #header_timetables tr, 
#browse_calendar #header_timetables td {
  border: none;
}

#browse_calendar #header_timetables span {
  margin-left: -15px; /* See below */
  font-size: 9px;
  font-weight: bold;
  text-align: left;
}

/* Prevent IE from eating the time outside the box */
* html #browse_calendar #header_timetables span {
  margin-left: 0;
}



table.timetable {
  border: 1px solid #ffffff;
}
