
#content .button {
  background-color: #ffffff;
  border-bottom: 2px solid #ffffff;
  cursor: pointer;
  height: 22px;
  margin: 1px 1px 1px 1px;
  padding-bottom: 1px;
  width: 22px;
}

#content .button:hover {
  border-bottom: 2px solid #ff0000;
}

#content .formatblock {
  margin-bottom: 2px;
}

#content .epoz_frame {
  border: 1px grey solid;
  height: 300px;
  width: 98%;
}

#content .epoz_textarea {
  width: 100%;
  height: 300px;
}

#content .epoz_switch {
  height: 10px;
  margin: 0px;
  width: 10px;
}
