/* 
** Style sheet for CSS2-capable browsers.

Main colors:
dark:    #006666 (font)
medium:  #819097 (background + font) 
light:   #00cccc
*/

p {
  font: normal 11px/12px arial, sans-serif;
}

h3 {
  margin: 0;
  padding: 0;
  font: bold 10px/10px arial, sans-serif;
}

a {
  text-decoration: none;
}

a:link {
  color: #f90;
}

a:visited {
  color: #f90;
}

a:hover, a:active {
  color: #ffffff;
}

p.titre2 {
  color: #cccc33;
  font: bold 11px/12px arial, sans-serif;
}
 
td {
  vertical-align: top;
}

input {
  font: bold 10px Verdana, Helvetica, Arial, sans-serif;
  border: 1px solid #819097;
  color: #006666;
  background-color: white;
  vertical-align: middle;
  margin-bottom: 1px; /* IE bug fix */
}

select {
    font: bold 10px Verdana, Helvetica, Arial, sans-serif;
    border: 1px solid rgb(102, 102, 51);
    vertical-align: middle;
}

optgroup {
    font: bold 10px Verdana, Helvetica, Arial, sans-serif;
}

/*************************************************************************/

body {
  padding: 0;
  margin: 0 0 0 0;
  margin: 0px 5px 0px 0px;
  text-align: left;
  background: #819097;
  border: 0px solid black;
}

#container  {
  width: 100%;
  padding: 0;
  margin: 0px 10px 3px 4px;
  background: transparent;
  border: 0px solid red;
}

#container table.container  {
  width: 100%;
}

.bulletinformation {
  margin: 0;
  margin: 3px 0 0 0;
  border: 0px solid black;
  display: inline;
  float: left;
}

#motto1 {
  margin: 10px 0px 0px 10px;
  background : transparent;
  font: bold 12px Verdana, Helvetica, Arial, sans-serif;
  float: left;
}

.selectbox {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  font: bold 10px Verdana, Arial, Helvetica, sans-serif;
  text-align: center;
  border: 0px solid white;
}

.selectbox form {
  margin: 0;
  margin: 0;
}

.selectfield {
  width: 8em;
  height: 1.6em;
  color: #006666;
  background-color: #ffffff;
  font: normal 10px Helvetica, sans-serif;
  margin: 0;
  padding: 0px 0px 0px 2px;
  vertical-align: top;
  border: 1px solid #819097;
}

.searchbox {
  margin: 0px 5px 0px 0px;
  padding: 7px 0px 0px 0px;
  font-family: normal 10px Verdana, Arial, Helvetica, sans-serif;
  text-align: right;
  border: 0px solid white;
}

.searchbox form {
  margin: 0px 5px 0px 0px;
  margin: 0;
}

.searchfield {
  width: 200px;
  height: 13px;
  color: #006666;
  background-color: #ffffff;
  font: normal 10px Helvetica, sans-serif;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 5px;
  vertical-align: top;
  border: 1px solid #819097;
}

/* BREADCRUMB START */
#breadcrumb {
  left: 155px;  /* remove if ok with IE */
  background-color: #ededed;
  margin: 0px 0px 0px 4px;
  padding: 2px 0px 2px 4px;
  text-align: left;
  border: 0px solid #00cccc;
  vertical-align: bottom;
}

.breadcrumb {
  color: #006666;
  font: normal 0.8em Verdana, Helvetica, Arial, sans-serif;
}

.breadcrumb a:link, .breadcrumb a:visited, .breadcrumb a:active {
  color: #006666;
  text-decoration: none;
}
    
.breadcrumb a:hover {
  color: orange;
  text-decoration: none;
}
    
#breadcrumb ul {
  margin: 0;
  padding: 0;
}
    
#breadcrumb ul li {
  padding-left: 1px;
  padding-right: 1px;
  list-style: none;
  display:inline;
}    
/* BREADCRUMB STOP */

#column1 {
  width: 125px;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  background: transparent;
  float: left;
}
    
ul.listvert {
  margin: 0;
  padding: 0;
  list-style: none;
}

li.listvert {
  margin: 0 0 0 0px;
  padding: 0 0 4px 0px;
  color: #006666;
  font: normal 10px Verdana, Arial, Helvetica, sans-serif;
  /* list-style-image: url('images/bullet1.gif');*/
  list-style-position: outside;
  text-align: left;
}

li.listvert a:link, li.listvert a:visited {
  color: #006666;
  text-decoration: none;
}

li.listvert a:hover, li.listvert a:active {
  color: orange;
  text-decoration: none;
}

#workspace {
  margin: 4px 0px 0px 4px;
  border: 0px solid #cccc33;
}


#metadata {
  background-color: #ededed;
  text-align: left;
  color: #006666;
  font: normal 10px Verdana, Helvetica, Arial, sans-serif;
}

#metadata select {
  font-size: 8px;
}

/* TABS START */
/* WARNING: DON'T MODIFY! */
ul#tabs {
  display: block;
  height: 1.4em;
  list-style: none outside;
  margin: 0px 0px 0px -1px;
  padding: 0;
  background-color: #819097;
  font: bold 10px Verdana, Helvetica, Arial, sans-serif;
  text-align: center;
}

#tabs div, #tabs span {
  white-space: nowrap;
  border: 0px solid red;
}

#tabs li {
  position: relative;
  display: block;
  float: left;
  min-width : 6em;
  padding: 2px 4px 2px 4px;
  margin: 0 4px 0 0;
  background-color: #ffffff;
  border: 1px solid #819097;
  white-space: nowrap;
}
 
#tabs li.tab_active {
  background-color: #f2e019;
  border: 1px solid #819097;
  border-bottom: 1px solid #f2e019;
}
 
.tab a:link, .tab a:visited {
  color: #819097;
}

.tab a:hover, .tab a:active {
  color: #006666;
}

.tab_active a:link, .tab_active a:visited, .tab_active a:hover, .tab_active a:active {
  color: #006666;
}

#navclear {
  display: none;
}

html>body #navclear {
  display: block;
  clear: both;
}

.navclear {
  display: none;
}

html>body .navclear {
  display: block;
  clear: both;
}

ul#subtabs {
  display: block;
  height: 1.4em;
  margin: -1px 0px 0px 0px;
  padding: 3px 3px 3px 3px;
  background-color: #f2e019;
  border: none;
  border-top: 1px solid #819097;
  border-bottom: 1px solid #819097;
  font: bold 10px Verdana, Helvetica, Arial, sans-serif;
  text-align: left;
}

#subtabs li {
  margin: 0px;
  padding: 0px;
  list-style: none outside;
  display:inline;
  color: #006666;
  padding: 2px 4px 2px 0px;
}

li.subtab a:link, li.subtab a:visited {
  color: #006666;
}

li.subtab a:hover, li.subtab a:active {
  color: #006666;
}
/* TABS STOP */

/* EXTRA STUFF START */

.batchcontrol {
  padding: 2px;
  margin-bottom: 10px;
  color: #819097;
  font: bold 10px verdana, arial, helvetica, sans-serif;
}

/* EXTRA STUFF STOP */

.message {
  margin: 0px;
  padding: 3px;
  color: #990f99;
  font: bold 10px verdana, arial, helvetica, sans-serif;
  border-bottom: 1px solid #819097;
  background-color: #ededed;
}

#content {
  margin: 0px 0px 0px 0px;
  padding: 10px 25px 10px 10px;
  background-color: #ffffff;
  border: 0px solid red;
}
    
table.content {
  width: 100%;
  margin: 0px 0px 0px 0px;
  padding: 0;
  border: 0px solid orange;
  text-align: left;
}
    
.overflow {
  margin: 0px 20px 0px 0px;
  height: 300px;
  overflow: auto;
  border: 1px solid #cccc33;
}

.list {
  color: #006666;
  font: bold 10px Verdana, Helvetica, Arial, sans-serif;
  text-transform: lowercase;
}

.list a {
  color: #006666;
}

.list a:hover {
  color: orange;
}

#extrabutton {
  position: relative; /* check it for IE */
  margin: 140px 0px 0px -13px;
  padding: 0px 0px 0px 0px;
  background : transparent;
  border: 0px solid #00cccc;
  text-align: center;
  float: right;
}

.extrabutton {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  background : transparent;
  border: 0px solid #00cccc;
  display: block;
}



/* USER MENU */
#usermenu {
}

#usermenu img {
  float: left;
}

/* HTML diff */
.diff {
  font-size: 10px;
  font-family: monospace;
}
