/*
 * http://www.alistapart.com/articles/holygrail
 */

/* get rid of default margins/paddings */
* {
    padding: 0;
    margin:  0;
}
#header, #footer {
  clear: both;
}
#wrapper {
  padding-left: 250px; /* The width of the left column */
  zoom: 1; /* So IE plays nice */
}
#center {
  float: right;
  width: 100%;
  margin-left: -250px; /* Hat tip to Ryan Brill */
  border-left: 250px solid #fff; /* The width and color of the left column */
}
#left{
  float: left;
  display: inline; /* So IE plays nice */
  width: 250px;
  margin-left: -250px;
}

