/*
 * taken from http://www.fu2k.org/alex/css/onetruelayout/
 * Million thanks to Alex Robinson!
 */
#block_1 {
	width: 80%;
  margin-left: 20%;
}
#block_2 {
  position: absolute;
  top: 69px;
  left: 0;
	width: 20%;
}
/* easy clearing */
#wrapper:after {
	content: '[DO NOT LEAVE IT IS NOT REAL]'; 
	display: block; 
	height: 0; 
	clear: both; 
	visibility: hidden;
}
#wrapper {
	display: inline-block;
}
/*\*/
#wrapper {
	display: block;
}
/* end easy clearing */
#footer {
	clear: both;
}
