/*
 * http://www.alistapart.com/articles/holygrail
 */

/* get rid of default margins/paddings */
* {
    padding: 0;
    margin:  0;
}

#wrapper {
  padding-left: 245px;    /* LC fullwidth */
  /* w/ right col */
  /* padding-right: 190px; * RC fullwidth + CC padding */
  /* w/o right col */
  padding-right: 20px;
  min-width: 290px;       /* LC fullwidth + CC padding */
}

.column {
  position: relative;
  float: left;
}

#center {
  padding: 0 10px;
  width: 100%;
}

#left {
  width: 245px;           /* LC width */
  padding: 0 10px;        /* LC padding */
  right: 270px;           /* LC fullwidth + CC padding */
  margin-left: -100%;
}

#right {
  width: 130px;           /* RC width */
  padding: 0 10px;        /* RC padding */
  margin-right: -100%;
}

/*** IE Fix ***/
* html #left {
  /*left: 150px;            * RC fullwidth */
  left: 0px;
}
